body {
    font-family: "Segoe UI", "Trebuchet MS", sans-serif;
}

header > .header-logo-name {
    background-color: hsla(0,0%,100%,.6);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    width: 100%;
    position: fixed;
    transition: all .3s ease;
    z-index: 1000;
    min-height: 125px;
    display: flex;
    align-items: center;
}

header > .header-logo-name a {
    text-decoration: none;
}

header > .header-logo-name .header-logo {
    position: relative;
    left: 5%;
}

header > .header-logo-name .header-logo img {
    height: 40px;
}

header > .header-logo-name .header-name {
    position: relative;
    left: 6%;
}

header > .header-logo-name span {
    font-size: 24px;
    color: rgb(73, 73, 73);
}

#root {
    padding-top: 125px;
    margin: 0 70px;
}

footer > .footer-row {
    display: block;
    height: 150px;
    background-color: transparent;
}

.titlepage h1 {
    font-size: 60px;
    line-height: 65px;
    margin-bottom: 30px;
}

.product-card {
    max-width: 1410px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #111;
    display: flex;
    text-decoration: none;
    position: relative;
}

.product-card .pict {
    flex-shrink: 0;
    display: block;
    overflow: hidden;
    border-radius: 7.45px;
    border: 1px solid #000;
}

.product-card .pict img {
    position: relative;
    width: 360px;
    height: 316px;
    object-fit: cover;
}

.product-card .text {
    position: relative;
    padding: 45px 25px 0 55px;
}

.product-card .card-title {
    color: #111;
    font-weight: bold;
    line-height: 1.0em;
    font-size: 2em;
    overflow-wrap: break-word;
    margin-bottom: 20px;
    display: block;
}

.product-card .card-info {
    color: #111;
    font-size: 1.1em;
    margin-top: 10px;
    display: block;
}

.product-card .arr {
    width: 86px;
    height: 86px;
    flex-shrink: 0;
    color: #111;
    background-color: #fff;
    border: 1px solid #111;
    align-self: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.product-card .arr svg {
    width: 75%;
    height: 75%;
}

.product-card:hover .card-title{
    text-decoration: underline;
}

.product-card:hover .arr {
    background-color: #ef3443;
    border: 1px solid #ef3443;
    color: white;
}


#product {
    box-sizing: border-box;
    width: 100%;
    position: relative;
}

#product h2 {
    margin-bottom: 20px;
    color: #111;
    font-size: 2em;
}

#product p {
    margin-top: 1rem;
}

#back-button {
    padding: 0px 15px;
    margin-bottom: 15px;
    background-color: white;
    color: #111;
    border: 1px solid #111;
    border-radius: 31px;
    line-height: 31px;
    height: 31px;
    transition: all 0.3s linear;
}

#back-button:hover {
    background-color: #111;
    border: 1px solid #111;
    color: white;
}

.my-slider {
    max-width: 1000px;
    border-radius: 15px;
}

.slick-slide {
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    height: 500px !important;
}

.slick-slide img {
    width: 100%;
    height: 100% !important;
}