body {
    font-family: "Segoe UI", "Trebuchet MS", sans-serif;
}

header > .header-logo-name {
    background-color: hsla(0,0%,100%,.6);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    width: 100%;
    position: fixed;
    transition: all .3s ease;
    z-index: 1000;
    min-height: 125px;
    display: flex;
    align-items: center;
}

header > .header-logo-name a {
    text-decoration: none;
}

header > .header-logo-name .header-logo {
    position: relative;
    left: 10%;
}

header > .header-logo-name .header-logo img {
    height: 40px;
}

header > .header-logo-name .header-name {
    position: relative;
    left: 15%;
}

header > .header-logo-name span {
    font-size: 24px;
    color: rgb(73, 73, 73);
}

#root {
    padding-top: 125px;
    margin: 0 70px;
    /* margin: 0 auto; */
}

/* Выбрать этот селектор на полном экране */
/* .titlepage h1 {
    font-size: 120px;
    font-weight: 300;
    line-height: 1em;
    position: relative;
    margin: 1rem 0 2rem 0;
} */

.titlepage h1 {
    font-size: 60px;
    line-height: 65px;
    margin-bottom: 30px;
}

.product-card {
    max-width: 1410px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #111;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    position: relative;
}

.product-card:hover .card-title{
    text-decoration: underline;
} 

.product-card .pict {
    flex-shrink: 0;
    display: block;
    overflow: hidden;
    border-radius: 7.45px;
    border: 1px solid #000;
}

.product-card .pict img {
    position: relative;
    width: 360px;
    height: 316px;
    object-fit: cover;
}

.product-card .text {
    position: relative;
    padding: 0 25px 0 55px;
}

.product-card .card-title {
    color: #111;
    line-height: 1.0em;
    font-size: 2em;
    overflow-wrap: break-word;
    margin-bottom: 20px;
    display: block;
}

.product-card .card-info {
    color: #111;
    font-size: 1.1em;
    margin-top: 10px;
    display: block;
}


#product {
    box-sizing: border-box;
    width: 100%;
    position: relative;
}

#product h2 {
    margin-bottom: 20px;
    color: #111;
    font-size: 2em;
}

#product .media_embed img {
    width: 500px;
    height: 300px;
}

#product p {
    margin-top: 1rem;
}